In [14]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
games_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(games_to_load)

In [15]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [21]:
#total number of players code
total_players = len(purchase_data["SN"].unique())
total_players

576

In [30]:
#total number of players dataframe
total_players_df = pd.DataFrame([{"Totals Players" : total_players}])
total_players_df

   Totals Players
0             576

In [31]:
#total number of unique items code
total_unique_items = len(purchase_data["Item Name"].unique())
total_unique_items

179

In [35]:
#average purchase price code
average_price = purchase_data["Price"].mean()
average_price = round (average_price,2)
average_price

3.05

In [38]:
#total number of purchases code
total_purchases = len(purchase_data["Purchase ID"].value_counts())
total_purchases

780

In [39]:
#total revenue code
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [43]:
#purchasing analysis (total) dataframe
purchasing_analysis_totaldf = pd.DataFrame([{"Number of Unique Items" : total_unique_items
                                         ,"Average Purchase Price" : average_price
                                         ,"Total Number of Purchases" : total_purchases
                                         ,"Total Revenue" : total_revenue}])
purchasing_analysis_totaldf

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.05,780,2379.77

In [103]:
#gender groupby code
total_gender = purchase_data[["SN", "Gender"]].groupby("SN").first()
total_gender

               Gender
SN
Adairialis76     Male
Adastirin33    Female
Aeda94           Male
Aela59           Male
Aelaria33        Male
...               ...
Yathecal82     Female
Yathedeu43       Male
Yoishirrala98  Female
Zhisrisu83       Male
Zontibe81        Male

[576 rows x 1 columns]

In [104]:
#value count for gender groupby code
gender_totals = total_gender["Gender"].value_counts()
gender_totals

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [113]:
#gender groupby percentage code
gender_percent = gender_totals.apply(lambda x: 100*x/total_players)
gender_percent = round(gender_percent,2)
gender_percent

Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64

In [120]:
#gender demographics dataframe
gender_demo = [{"Total Count" : gender_totals}
                ,{"Percentage of Players" : gender_percent}]
gender_demo_df = pd.DataFrame(gender_demo)
gender_demo_df

#need to aggregate gender column

,Total Count,Percentage of Players
0,Male 484 Female ...,NaN
1,NaN,Male 84.03 Female ...